:host {
  display: block;
  width: 768px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.add-task-btn {
  width: 42px;
  height: 42px;
  line-height: 42px;
  padding: 0;
}
